NODE_ENV=string
PORT=number

DB_HOST=string
DB_PORT=number
DB_USER=string
DB_PASS=string
DB_NAME=string

POSTGRES_USER=string
POSTGRES_PASSWORD=string
POSTGRES_DB=string

REDIS_HOST=string
REDIS_PORT=number

JWT_SECRET=string
JWT_REFRESH_SECRET=string

SPOTIFY_CLIENT_ID=string
SPOTIFY_CLIENT_SECRET=string
SPOTIFY_CALLBACK_URL=string
