NODE_ENV=production
PORT=3000

DB_HOST=<VM4_IP>
DB_PORT=5432
DB_USER=nochu
DB_PASS=
DB_NAME=nochu

POSTGRES_USER=nochu
POSTGRES_PASSWORD=
POSTGRES_DB=nochu

REDIS_HOST=<VM4_IP>
REDIS_PORT=6379

JWT_SECRET=
JWT_REFRESH_SECRET=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_CALLBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=
